<!DOCTYPE html>
<html>
  <head>
    <title>OrdersApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <script type="text/javascript">
      $(document).ready(function(){
          setTimeout(function(){
              $('.alert').remove();
          }, 5000);
      })
  </script>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <p class="navbar navbar-default">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      <span class="glyphicon glyphicon-user"></span>|
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <span class="glyphicon glyphicon-log-out"></span>|
      <%= link_to "My Order",{controller: :orders, action: :show, id: current_order.id}, :class => 'navbar-link'%>
      <span class="glyphicon glyphicon-shopping-cart"></span>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </p>

    <%= yield %>
  </body>
</html>
